[Unit]
Description=Runs hdqm-extract-test.service every day

[Timer]
OnCalendar=*-*-* 4:00:00
Unit=hdqm-extract-test.service

[Install]
WantedBy=multi-user.target