[Unit]
Description=HDQM API server (test)

[Service]
WorkingDirectory=/data/hdqm-test/CentralHDQM
ExecStart=/data/hdqm-test/CentralHDQM/run.sh api 5001
User=cmsdqm

[Install]
WantedBy=multi-user.target
