[Unit]
Description=HDQM Extractor service

[Service]
WorkingDirectory=/data/hdqm/current
ExecStart=/data/hdqm/current/run.sh extract
User=cmsdqm
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

