[Unit]
Description=Runs hdqm-extract.service every day

[Timer]
OnCalendar=*-*-* 4:00:00
Unit=hdqm-extract.service

[Install]
WantedBy=multi-user.target